/* Import all the mixins for this theme */
@import "dashboard.scss";


/* Font embeds and keyframe definitions need to be
 * on the top level of the stylesheet, not nested
 * with any selectors, so we output them here */
@include font-open-sans;
@include icons-fontello;
@include dashboard-keyframes;


/* Output the actual theme selectors */
.dashboard {
	@include dashboard;
}


.dashboard .v-textfield-invalid{ //textfield
    border-color: #ff3333;
}

.dashboard .v-textfield-blackcolor{ //textfield
    color: #000 !important;
}

.dashboard .v-textarea-blackcolor{ //textfield
    color: #000 !important;
}

.dashboard .invalid{
    border-color: #ff3333;
}

.dashboard .v-textarea-invalid{ //textarea
    border-color: #ff3333;
}

.dashboard .v-filterselect-input-invalid{ //combobox
    border-color: #ff3333;
}

.dashboard .invalid .v-datefield-textfield { //datefield
    border-color: #ff3333;
}

.dashboard .v-label-errorstyle{ //label for validation messages
    color: #ff3333;
}

.dashboard .v-button-extramargin{
    margin-top: 19px;
}

.dashboard .v-label-extramarginLabel{
    margin-top: 19px;
}

.dashboard .v-label-labelBlue{
    color: #349aff;
}

.dashboard .v-table-row.v-table-row-highlight-red,
.dashboard .v-table-row-odd.v-table-row-highlight-red {
    color: #F47171;
}

.dashboard .v-button-background-blue{
    width: 100%;
    background: #349aff;
    color: #fff;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.75);
}