@mixin dashboard-label {

	/* TODO fix in base theme */
	.v-label {
		overflow: visible;
	}

	.v-label.h1 {
		font-size: 36px;
		line-height: 1;
		font-weight: 300;
		-webkit-font-smoothing: antialiased;
		letter-spacing: -0.05em;
	/* 	color: #404346; */
	}

	.v-label.h2 {
		color: #404346;
		font-size: 22px;
		line-height: 1;
		font-weight: normal;
		padding: .5em 0;
		-webkit-font-smoothing: antialiased;
	}

	.v-label.light {
		color: #979699;
	}

	.v-label.h4 {
		font-weight: bold;
		text-transform: uppercase;
		color: #349aff;
	}

    .captionLabel {
        color: rgb(80, 123, 163); /* #507BA3 */
        font-size: 22px;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
    }

    .dashboardLabel {
       /* margin: 5px;
        padding: 20px;
        background: yellow;
        float: left;
        font-weight: bold;
        background: gray;
*/
        text-align:right;
        font-size: 15px;
    }
    .dashboardAmountLabel {
       /* margin: 5px;
        padding: 20px;
        background: yellow;
        */
        text-align:center;
        float: right;
        color: blue;
        font-size: 30px;
        font-weight: bold;
    }

    .dashboardPercentageLabel {
       /* margin: 5px;
        padding: 20px;
        background: yellow;
        float: left;
        font-weight: bold;
*/
        color: red;
        text-align:right;
        font-size: 15px;

    }
}